.nav_container{
    display: flex;
    justify-content: space-between;
    margin: 30px 150px ;
    align-items: center;
    position: relative;
}
.nav_links a{
    color: rgb(0, 0, 0);
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 21px;
    text-decoration: none;
    text-transform: uppercase;
}
.nav_links{
    
    display: flex;
    column-gap: 30px;
}

.header_logo{
    display: flex;
    justify-content: center;
   
}

.icon_container{
    display: flex;
    column-gap: 35px;
   
}
.header_drop_down{
    display: flex;
    column-gap: 35px;
    color: rgb(0, 0, 0);
}
.header_drop_down{
    display: flex;
    
    column-gap: 50px;

}
.active{
    color: rgb(0, 0, 0);
    cursor: default;
}



